@import "../variables.css";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 50px;
}

.noClassContainer {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noClassText {
  font-family: var(--font-family-sans-serif);
  color: var(--colour-grey-light-3);
  font-weight: 300;
  font-size: 18px;
}

.table {
  font-family: var(--font-family-sans-serif);
}
.headerRow {
  font-family: var(--font-family-sans-serif);
  color: var(--colour-grey-dark-4);
  font-weight: 300;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
  justify-content: center;
  padding: 5px 0px;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
  text-direction: center;
  justify-content: center;
  font-family: var(--font-family-sans-serif);
  color: var(--colour-grey-dark-4);
  font-weight: 100;
}
.row:nth-of-type(even) {
  background-color: var(--colour-grey-light-8);
}

.hidden {
  display: none;
}
