@import "../variables.css";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Table {
  margin-top: 50px;
  font-family: var(--font-family-sans-serif);
}
.headerRow {
  font-family: var(--font-family-sans-serif);
  color: var(--colour-grey-dark-4);
  font-weight: 300;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
  text-direction: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
  text-direction: center;
  justify-content: center;
  font-family: var(--font-family-sans-serif);
  color: var(--colour-grey-dark-4);
  font-weight: 100;
}
.row:nth-of-type(even) {
  background-color: var(--colour-grey-light-8);
}


.hidden {
  display: none;
}
