@import "../variables.css";

.btnGroup {
  z-index: 0;
  border: none;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.btn {
  border: none;
  border-left: 1px solid black;
  color: black;
  z-index: 0;
  font-family: var(--font-family-sans-serif);
  color: var(--colour-grey-dark-2);
  background-color: var(--colour-white);
  font-weight: 100;
  font-size: 16px;
  height: 30px;
  width: 100%;
}

.btnGroup .btn:first-child {
  border-radius: 5px 0px 0px 5px;
}

.btnGroup .btn:last-child {
  border-radius: 0px 5px 5px 0px;
}

.selected {
  background-color: var(--colour-grey-dark-2);
  color: var(--colour-white);
  z-index: 0;
}
