@import "../variables.css";

.container {
  position: absolute;
  top: 0px;
  left: -100%;
  width: 325px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-family: var(--font-family-sans-serif);
  background-color: var(--colour-grey-dark-3);
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: left 0.1s ease-in-out 0s;
}

.cover {
  position: absolute;
  overflow: hidden;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  filter: blur(5px);
  transition: left 0.1s ease-in-out 0s;
}

.title {
  font-family: var(--font-family-sans-serif);
  color: var(--colour-white);
  font-weight: 100;
  font-size: 24px;
  margin: 10px 5px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.filterTitle {
  font-family: var(--font-family-sans-serif);
  color: var(--colour-white);
  font-weight: 100;
  font-size: 16px;
  margin: 5px 0px;
}

.visible {
  left: 0px;
  transition: left 0.1s ease-in-out 0s;
}
