@import "../variables.css";

.filterBtn {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  font-family: var(--font-family-sans-serif);
  color: var(--colour-grey-dark-3);
  font-weight: 100;
  display: flex;
  flex-direction: row;
  width: 90px;
  height: 30px;
  justify-content: space-around;
  align-items:center;
  border: solid 1px var(--colour-grey-dark-3);
  z-index: 2;
}

.filterBtn:hover {
  background-color: var(--colour-grey-light-8);
}
