@import "../variables.css";

.container {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: -325px;
  width: 325px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-family: var(--font-family-sans-serif);
  background-color: var(--colour-grey-dark-3);
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0;
}

.cover {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  filter: blur(5px);
}

.title {
  font-family: var(--font-family-sans-serif);
  color: var(--colour-white);
  font-weight: 100;
  font-size: 24px;
  margin: 10px 5px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.filterTitle {
  font-family: var(--font-family-sans-serif);
  color: var(--colour-white);
  font-weight: 100;
  font-size: 16px;
  margin: 5px 0px;
}

.visible {
  opacity: 1;
  left: 0px;
}
