@import "../variables.css";

.container {
  position: fixed;
  top: 0px;
  left: -330px;
  width: 325px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-family: var(--font-family-sans-serif);
  background-color: var(--colour-grey-dark-3);
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: left 0.3s ease-out;
  box-shadow: 5px 0px 2px 0px var(--colour-grey-dark-3);
}

.cover {
  position: fixed;
  overflow: hidden;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  filter: blur(5px);
  transition: left 0.3s ease-out;
  transition: opacity 0.2s ease-out;
}

.title {
  font-family: var(--font-family-sans-serif);
  color: var(--colour-white);
  font-weight: 100;
  font-size: 24px;
  margin: 20px 5px 30px 5px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  font-size: 14px;
}

.filterTitle {
  font-family: var(--font-family-sans-serif);
  color: var(--colour-white);
  font-weight: 100;
  font-size: 16px;
  margin: 5px 0px;
}

.visible {
  left: 0px;
  opacity: 1;
}
