@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
:root {
  /* Colours */
  --colour-blue: #35a7ff;
  --colour-blue-light-1: color(var(--colour-blue) tint(20%));
  --colour-blue-light-2: color(var(--colour-blue) tint(40%));
  --colour-blue-light-3: color(var(--colour-blue) tint(60%));
  --colour-blue-light-4: color(var(--colour-blue) tint(80%));
  --colour-blue-light-5: color(var(--colour-blue) tint(100%));
  --colour-blue-dark-1: color(var(--colour-blue) shade(20%));
  --colour-blue-dark-2: color(var(--colour-blue) shade(40%));
  --colour-blue-dark-3: color(var(--colour-blue) shade(60%));
  --colour-blue-dark-4: color(var(--colour-blue) shade(80%));
  --colour-blue-dark-5: color(var(--colour-blue) shade(100%));
  --colour-red: #ff5964;
  --colour-red-light-1: color(var(--colour-red) tint(20%));
  --colour-red-light-2: color(var(--colour-red) tint(40%));
  --colour-red-light-3: color(var(--colour-red) tint(60%));
  --colour-red-light-4: color(var(--colour-red) tint(80%));
  --colour-red-light-5: color(var(--colour-red) tint(100%));
  --colour-red-dark-1: color(var(--colour-red) shade(20%));
  --colour-red-dark-2: color(var(--colour-red) shade(40%));
  --colour-red-dark-3: color(var(--colour-red) shade(60%));
  --colour-red-dark-4: color(var(--colour-red) shade(80%));
  --colour-red-dark-5: color(var(--colour-red) shade(100%));
  --colour-green: #6bf178;
  --colour-green-light-1: color(var(--colour-green) tint(20%));
  --colour-green-light-2: color(var(--colour-green) tint(40%));
  --colour-green-light-3: color(var(--colour-green) tint(60%));
  --colour-green-light-4: color(var(--colour-green) tint(80%));
  --colour-green-light-5: color(var(--colour-green) tint(100%));
  --colour-green-dark-1: color(var(--colour-green) shade(20%));
  --colour-green-dark-2: color(var(--colour-green) shade(40%));
  --colour-green-dark-3: color(var(--colour-green) shade(60%));
  --colour-green-dark-4: color(var(--colour-green) shade(80%));
  --colour-green-dark-5: color(var(--colour-green) shade(100%));
  --colour-white: #ffffff;
  --colour-white-dark-1: color(var(--colour-white) shade(5%));
  --colour-white-dark-2: color(var(--colour-white) shade(10%));
  --colour-white-dark-3: color(var(--colour-white) shade(15%));
  --colour-white-dark-4: color(var(--colour-white) shade(20%));
  --colour-white-dark-5: color(var(--colour-white) shade(25%));
  --colour-yellow: #ffe74c;
  --colour-yellow-light-1: color(var(--colour-yellow) tint(20%));
  --colour-yellow-light-2: color(var(--colour-yellow) tint(40%));
  --colour-yellow-light-3: color(var(--colour-yellow) tint(60%));
  --colour-yellow-light-4: color(var(--colour-yellow) tint(80%));
  --colour-yellow-light-5: color(var(--colour-yellow) tint(100%));
  --colour-yellow-dark-1: color(var(--colour-yellow) shade(20%));
  --colour-yellow-dark-2: color(var(--colour-yellow) shade(40%));
  --colour-yellow-dark-3: color(var(--colour-yellow) shade(60%));
  --colour-yellow-dark-4: color(var(--colour-yellow) shade(80%));
  --colour-yellow-dark-5: color(var(--colour-yellow) shade(100%));
  --colour-grey: #aaaaaa;
  --colour-grey-light-1: color(var(--colour-grey) tint(20%));
  --colour-grey-light-2: color(var(--colour-grey) tint(30%));
  --colour-grey-light-3: color(var(--colour-grey) tint(40%));
  --colour-grey-light-4: color(var(--colour-grey) tint(50%));
  --colour-grey-light-5: color(var(--colour-grey) tint(60%));
  --colour-grey-light-6: color(var(--colour-grey) tint(70%));
  --colour-grey-light-7: color(var(--colour-grey) tint(80%));
  --colour-grey-light-8: color(var(--colour-grey) tint(90%));
  --colour-grey-light-9: color(var(--colour-grey) tint(100%));
  --colour-grey-light-10: color(var(--colour-grey) tint(110%));
  --colour-grey-dark-1: color(var(--colour-grey) shade(40%));
  --colour-grey-dark-2: color(var(--colour-grey) shade(40%));
  --colour-grey-dark-3: color(var(--colour-grey) shade(60%));
  --colour-grey-dark-4: color(var(--colour-grey) shade(80%));
  --colour-grey-dark-5: color(var(--colour-grey) shade(100%));
  --colour-black: #000000;
  --colour-black-light-1: color(var(--colour-black) tint(40%));
  --colour-black-light-2: color(var(--colour-black) tint(40%));
  --colour-black-light-3: color(var(--colour-black) tint(60%));
  --colour-black-light-4: color(var(--colour-black) tint(80%));
  --colour-black-light-5: color(var(--colour-black) tint(100%));
  /* Fonts */
  --font-family-sans-serif: Lato, "Helvetica Neue", Arial, sans-serif;
  /* Media queries */
  @custom-media --media-phone-width (width < 700px);
}
